# Production environment values for rproxy
replicaCount: 2

image:
  tag: "prod"

nginx:
  epic:
    serverName: "epic-6cdc9e-prod.apps.silver.devops.gov.bc.ca"
    proxy:
      root: "http://eagle-public:8080"
      api: "http://eagle-api:3000"
      admin: "http://eagle-admin:8080"
      public: "http://eagle-public:8080"
      eguide: "http://eagle-api:3000"
      analytics: "http://penguin-analytics-api:3000"  # Production does not have analytics configured
      certbot: "http://certbot:8080"
    proxyDeployConfig:
      apiPublic: "proxy_connect_timeout 600; proxy_send_timeout 600; proxy_read_timeout 600; send_timeout 600;client_max_body_size 3000M; if ($http_origin ~ '^https?://(.*\\.gov\\.bc\\.ca)') {add_header 'Access-Control-Allow-Origin' \"$http_origin\" always; add_header 'Access-Control-Allow-Credentials' 'true' always; add_header 'Access-Control-Allow-Methods' 'GET, POST, PUT, DELETE, OPTIONS' always; add_header 'Access-Control-Allow-Headers' 'Accept,Authorization,Cache-Control,Content-Type,DNT,If-Modified-Since,Keep-Alive,Origin,User-Agent,X-Requested-With' always; }"

httpBasic:
  # Main endpoint auth disabled in production
  enabled: false
  directive: ""
  username: ""
  password: ""
  
  # E-guide endpoint requires authentication in production
  # Credentials injected via GitHub secrets - do NOT hardcode
  eguide:
    enabled: true
    directive: "auth_basic \"Restricted Content\"; auth_basic_user_file /tmp/.htpasswd1;"
    username: ""
    password: ""
  
  # Public endpoint auth disabled in production
  public:
    enabled: false
    directive: ""
    username: ""
    password: ""

route:
  enabled: false  # Route already exists, managed separately
  host: projects.eao.gov.bc.ca

resources:
  limits:
    cpu: 250m
    memory: 150Mi
  requests:
    cpu: 10m
    memory: 50Mi
